/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
 @font-face { font-family: din-medium; src: url("../fonts/DIN-Medium.otf"); }

body {
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	background-color:#05436B;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

a, a:link, a:active, a:visited { color:#FFFFFF; text-decoration: none; }
a:hover{ color:#FFFFFF; 
}
.space50 { height:50px; }
.space100 { height:100px; }
.space10 { height:10px; }
.space15 { height:15px; }
.space30 { height:30px; }
.ma { margin:auto; }
.cb { clear:both; }
.tac { text-align:center; }
.title-din { font-size:30px; }
.font-din { font-family: din-medium !important; color:#FFFFFF; }

.back {
	background:url(../img/back.jpg) repeat 0 0; height:100%px; width:100%; display:block;
}

#content { position:absolute; width:100%;  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;}
#content2 { position:absolute; width:100%;  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out; }

/* HEADER */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-header { background:url(../img/back-header.png) repeat 0 0; height:123px; width:100%; display:block; }
.logo { background:url(../img/logo.png) no-repeat 0 0; height:51px; width:288px; display:block; text-align:center; margin:auto; }

.arrow-back { background:url(../img/arrow-back.png) no-repeat 0 0; height:30px; width: 135px; display:block; margin: 10px; position: absolute; }
.text-back { margin: -1px 0 0 35px; font-family: din-medium !important; color:#FFFFFF; font-size:24px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MAIN MENU */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.home-square {
	width:50%;
	float:left;
}

#menu {
	font-family: din-medium !important;
	color:#FFFFFF;
	font-size:30px;
	margin: auto;
}

.text-menu { position: relative; text-align: center; top: 82%; }
.back-menu { background:url(../img/backmenu.png) no-repeat 0 0; height:392px; width:467px; position:absolute; }

.menu0 {
	background:url(../img/menu0.png) no-repeat 0 0;
    height:324px;
    width:324px;
}

.menu1 {
	background:url(../img/menu1.png) no-repeat 0 0;
    height:324px;
    width:324px;  
}

.menu2 {
	background:url(../img/menu2.png) no-repeat 0 0; 
    height:324px;
    width:324px;  
}

.menu3 {
	background:url(../img/menu3.png) no-repeat 0 0;
    height:324px;
    width:324px;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTACT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.size-text-button { font-size:32px; }

.picto-phone {
	background:url(../img/picto-phone.png) no-repeat 0 0;
    height:117px;
    width:116px;  
}

.picto-mail {
	background:url(../img/picto-email.png) no-repeat 0 0;
    height:113px;
    width:129px;  
}

.back-bt-contact {
	background:url(../img/back-bt-contact.png) no-repeat 0 0;
	width:792px;  
	height:486px;
	overflow:hidden;
}

.default-button { width:274px; }
.large-button { width:450px; }

.css3buttonblue {
	color: #ffffff;
	padding: 28px 20px;
	background: -moz-linear-gradient(
		top,
		#1286d3 0%,
		#1286d3 50%,
		#096fb3 50%,
		#096fb3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1286d3),
		color-stop(0.48, #1286d3),
		color-stop(0.52, #096fb3),
		to(#096fb3));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

