/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
 @font-face { font-family: din-medium; src: url("../font/DIN-Medium.otf"); }
 @font-face { font-family: din-medium-bold; src: url("../font/DIN-Bold.otf"); }

body {
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	background-color:#05436B;
	font-family: din-medium-bold !important;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

a, a:link, a:active, a:visited { color:#000000 !important; text-decoration: none; }
a:hover{ color:#000000 !important; }
.space50 { height:50px; }
.space100 { height:100px; }
.space10 { height:10px; }
.space25 { height:25px; }
.space15 { height:15px; }
.space30 { height:30px; }
.space20 { height:20px; }
.ma { margin:auto; }
.cb { clear:both; }
.tac { text-align:center; }
.font-din { font-family: din-medium !important; color:#FFFFFF; }
.font-din-bold { font-family: din-medium-bold !important; color:#FFFFFF; }
.no-uppercase { text-transform:none !important; }
.fleft { float:left; }
.fright { float:right; }
.black { color:#000000 !important; }
.orange { color:#FF4011 !important; }
.grey { color:#7F7F7F; }
.light-grey { color:#EFEFEF; }
.blue { color:#13A7AA !important; }
.blue-catalogue { color:#0770B2 !important; }
.size60 { font-size:30px; }
.size40 { font-size:20px; }
.size34 { font-size:17px; }
.size28 { font-size:14px !important; }
.size26 { font-size:13px !important; }
.size20 { font-size:10px !important; }
.grey-background { background-color:#EFEFEF; }
.width100 { width:100% }
.width50 { width:50% }

#advertisement_outer { position:relative; z-index:90000; background:rgba(29,29,28,0.7) !important;}

#back {	width:25%; }
.back {	background:url(../img/back.jpg) repeat 0 0; height:100%px; width:100%; display:block; }
.inset { -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4); -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4); box-shadow: inset 0 3px 8px rgba(0,0,0,.24); }

/* HEADER */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.header-container-logo { margin:auto; max-width:144px; padding-top:8px; }
.header-container-bt-menu { position:absolute; right:0px; top:3px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MAIN MENU */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.home-square { width:50%; float:left; }
.home-square-100 { width:100%; }
#main {
	font-family: din-medium !important;
	color:#FFFFFF;
	font-size:15px;
	margin: auto;
}

.text-menu { position: relative; text-align: center; top: 85%; color:#FFFFFF; font-family: din-medium-bold !important;}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* SHORT MENU */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.picto-menu-0{ background:url(../img/menu-picto-0.jpg) no-repeat 0 0; width:36px; height:35px; margin:34px 34px; }
.picto-menu-1{ background:url(../img/menu-picto-1.jpg) no-repeat 0 0; width:29px; height:43px; margin:34px 38px; }
.picto-menu-2{ background:url(../img/menu-picto-2.jpg) no-repeat 0 0; width:41px; height:40px; margin:34px 32px; }
.picto-menu-3{ background:url(../img/menu-picto-3.jpg) no-repeat 0 0; width:33px; height:38px; margin:34px 38px; }
.picto-menu-4{ background:url(../img/menu-picto-4.jpg) no-repeat 0 0; width:40px; height:39px; margin:34px; }
.picto-menu-5{ background:url(../img/menu-picto-5.jpg) no-repeat 0 0; width:41px; height:41px; margin:34px; }

.short-menu { background-color:#EFEFEF; width:500px; height:663px; position:absolute; z-index:500; right: 0; }
.container-line-short-menu { height:100px; display:block; width:100% }
.fleche-droite-short { background:url(../img/fleche-droite.png) no-repeat 0 0; width:22px; height:40px; margin:34px 30px }
.text-short-menu { margin:34px 10px }

.short-menu-icon { background:url(../img/short-menu-icon.png) no-repeat 0 0; width:46px; height:38px; margin:6px 20px  }
#black-screen{ width:100%; height:150px; background: url("../img/black-pixel.png") repeat left top transparent; position:absolute;	z-index:10; top:0; left:0; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CALCULATRICE DALLE */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-white { width:100%; height:90px; display:block; background-color:#FFFFFF; }
.grey-line { border-top: 2px solid #CCCCCC; width:100%; position:relative; }
.picto-choix { height:53px; max-width:90px; margin: 12px; position: absolute;  z-index:0; }

.text-calculatrice-choix { margin: 22px 0 0 120px; position: absolute; }
.fleche-droite { max-width:15px; margin:28px 5px 0 0; }

.back-white-calculette { width:100%; height:100%; display:block; background-color:#FFFFFF; }
.input-calculette { width:80px; height:50px; }
.input-calculette-dalles { height:40px; width:50%; margin:0 10px 0 40px; }
.line-calculette { height:80px; padding-top:20px; margin-left:15px; }
.text-mention { margin-left:40px; }
.text-mention-lambourdes { margin-left:0px; }
.border-input { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.border-input-dalles { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }

.titre-calculette { position:relative; top:-10px; }

.superficie-dalle { margin-left:20px; margin-right:10px; }
.hauteur-dalle { margin-left:50px; margin-right:10px; }
.text-hauteur { margin-top: 7px; margin-right:34px; }
.mesure { margin-top: 15px; }

.chiffre-dalles-calculatrice { max-width:29px; margin:30px 20px 30px 30px; }
.title-chiffre-calculatrice { margin-top:34px; }

.cont-dalle-taille { width:33%; }

.container-bt-calculette { display: table; margin:auto; }
.back-calculette { background:url(../img/dalle.jpg) repeat 0 0; height:100%; width:100%; display:block; }

.radio-on { width:26px; height:27px; margin:auto; position: relative; top: -10px; }
.radio-off { width:26px; height:27px; margin:auto; position: relative; top:-10px; }
.taille-dalle-text { z-index:5; position:relative; top:20%; }

.css3buttonblue-lagoon {
	color: #ffffff;
	padding: 28px 10px;
	background: -moz-linear-gradient(
		top,
		#18B1CC 0%,
		#18B1CC 50%,
		#1497AE 50%,
		#1497AE);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#18B1CC),
		color-stop(0.48, #18B1CC),
		color-stop(0.52, #1497AE),
		to(#1497AE));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

.css3buttongreen {
	color: #ffffff;
	padding: 28px 10px;
	background: -moz-linear-gradient(
		top,
		#39AB7A 0%,
		#39AB7A 50%,
		#2F8F65 50%,
		#2F8F65);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#39AB7A),
		color-stop(0.48, #39AB7A),
		color-stop(0.52, #2F8F65),
		to(#2F8F65));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

.choix-taille{ margin:-5px 20px; }
.dd-selected { padding:20px !important; }
.dd-option { padding:20px !important; }

div.apprise { text-align:center; font-family: din-medium-bold !important; font-size:30px !important; z-index:7 !important; }

div.apprise .apprise-buttons {
    background: none !important;
    border-top: none !important;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin: auto;
    padding: 10px 20px 20px 20px !important;
    text-align: center !important;
}

div.apprise .apprise-inner {
    padding: 20px 0 10px 0 !important;
}

div.apprise-overlay { z-index:6 !important; opacity:0.75 !important; background-color:#000000 !important; }

div.apprise .apprise-buttons button {
   color: #ffffff !important;
	padding: 28px 10px !important;
	background: -moz-linear-gradient(
		top,
		#18B1CC 0%,
		#18B1CC 50%,
		#1497AE 50%,
		#1497AE) !important;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#18B1CC),
		color-stop(0.48, #18B1CC),
		color-stop(0.52, #1497AE),
		to(#1497AE)) !important;
	-moz-border-radius: 10px !important;
	-webkit-border-radius: 10px !important;
	border-radius: 10px !important;
	border: 0px solid #000000 !important;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6) !important;
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6) !important;
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6) !important;
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2) !important;
	font-size:32px !important;
	width:150px !important;
	font-family: din-medium !important; 
}

.grey-line-right { border-right: 2px solid #CCCCCC; }
.grey-line-left { border-left: 2px solid #CCCCCC; }
.text-ecarteur { margin: 53px 0 0 35px; }
.text-ecarteur-ceramique { margin: 0px 0 0 0px; }

.picto-rect-l { margin: 5px 20px 0; }
.text-rect-l { margin:0 10px 10px 40px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CALCULETTE LAMBOURDES */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.titre-recommandations-lambourdes { margin-left: 30px; padding-top: 10px; }
.exemple-lambourde { background:url(../img/exemple-lambourde.jpg/img/exemple-lambourde.jpg) no-repeat 0 0; width:559px; height:306px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* RESULTAT LAMBOURDES */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.rehausseur { background:url(../img/rehausseur.jpg) no-repeat 0 0; width:109px; height:111px; }
.cales { background:url(../img/cales.jpg) no-repeat 0 0; width:111px; height:101px; }
.text-lambourdes-accessoires { position:relative; top:-10px; }
.text-lambourdes-accessoires-cales { position:relative; top:5px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* PLOT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.size-plot { width:320px; height:320px; }
.plot-8-15-1-HD { background:url(../img/plot/vue1-plot-8-15mm-HD.jpg) no-repeat 0 0; }
.plot-8-15-2-HD { background:url(../img/plot/vue2-plot-8-15mm-HD.jpg) no-repeat 0 0; }
.plot-10-1-HD { background:url(../img/plot/vue1-plot-10mm-HD.jpg) no-repeat 0 0; }
.plot-10-2-HD { background:url(../img/plot/vue2-plot-10mm-HD.jpg) no-repeat 0 0; }
.plot-20-30-1-HD { background:url(../img/plot/vue1-plot-20-30mm-HD.jpg) no-repeat 0 0; }
.plot-20-30-2-HD { background:url(../img/plot/vue2-plot-20-30mm-HD.jpg) no-repeat 0 0; }
.plot-35-1-HD { background:url(../img/plot/vue1-plot-35mm-HD.jpg) no-repeat 0 0; }
.plot-35-2-HD { background:url(../img/plot/vue2-plot-35mm-HD.jpg) no-repeat 0 0; }
.plot-40-65-1-HD { background:url(../img/plot/vue1-plot-40-65mm-HD.jpg) no-repeat 0 0; }
.plot-40-65-2-HD { background:url(../img/plot/vue2-plot-40-65mm-HD.jpg) no-repeat 0 0; }
.plot-50-80-1-HD { background:url(../img/plot/vue1-plot-50-80mm-HD.jpg) no-repeat 0 0; }
.plot-50-80-2-HD { background:url(../img/plot/vue2-plot-50-80mm-HD.jpg) no-repeat 0 0; }
.plot-80-140-1-HD { background:url(../img/plot/vue1-plot-80-140mm-HD.jpg) no-repeat 0 0; }
.plot-80-140-2-HD { background:url(../img/plot/vue2-plot-80-140mm-HD.jpg) no-repeat 0 0; }
.plot-140-230-1-HD { background:url(../img/plot/vue1-plot-80-140mm-HD.jpg) no-repeat 0 0; }
.plot-140-230-2-HD { background:url(../img/plot/vue2-plot-80-140mm-HD.jpg) no-repeat 0 0; }
.plot-40-65-1-HI { background:url(../img/plot/vue1-plot-40-65mm-HI.jpg) no-repeat 0 0; }
.plot-40-65-2-HI { background:url(../img/plot/vue2-plot-40-65mm-HI.jpg) no-repeat 0 0; }
.plot-50-80-1-HI { background:url(../img/plot/vue1-plot-50-80mm-HI.jpg) no-repeat 0 0; }
.plot-50-80-2-HI { background:url(../img/plot/vue2-plot-50-80mm-HI.jpg) no-repeat 0 0; }
.plot-80-140-1-HI { background:url(../img/plot/vue1-plot-80-140mm-HI.jpg) no-repeat 0 0; }
.plot-80-140-2-HI { background:url(../img/plot/vue2-plot-80-140mm-HI.jpg) no-repeat 0 0; }
.plot-140-230-1-HI { background:url(../img/plot/vue1-plot-80-140mm-HI.jpg) no-repeat 0 0; }
.plot-140-230-2-HI { background:url(../img/plot/vue2-plot-80-140mm-HI.jpg) no-repeat 0 0; }
.plot-10-1-HL { background:url(../img/plot/vue1-plot-10mm-HL.jpg) no-repeat 0 0; }
.plot-10-2-HL { background:url(../img/plot/vue2-plot-10mm-HL.jpg) no-repeat 0 0; }
.plot-20-30-evo-1-HL { background:url(../img/plot/vue1-plot-20-30mm-evo-HL.jpg) no-repeat 0 0; }
.plot-20-30-evo-2-HL { background:url(../img/plot/vue2-plot-20-30mm-evo-HL.jpg) no-repeat 0 0; }
.plot-20-30-1-HL { background:url(../img/plot/vue1-plot-20-30mm-HL.jpg) no-repeat 0 0; }
.plot-20-30-2-HL { background:url(../img/plot/vue2-plot-20-30mm-HL.jpg) no-repeat 0 0; }
.plot-40-65-1-HL { background:url(../img/plot/vue1-plot-40-65mm-HL.jpg) no-repeat 0 0; }
.plot-40-65-2-HL { background:url(../img/plot/vue2-plot-40-65mm-HL.jpg) no-repeat 0 0; }
.plot-50-80-1-HL { background:url(../img/plot/vue1-plot-50-80mm-HL.jpg) no-repeat 0 0; }
.plot-50-80-2-HL { background:url(../img/plot/vue2-plot-50-80mm-HL.jpg) no-repeat 0 0; }
.plot-80-140-1-HL { background:url(../img/plot/vue1-plot-80-140mm-HL.jpg) no-repeat 0 0; }
.plot-80-140-2-HL { background:url(../img/plot/vue2-plot-80-140mm-HL.jpg) no-repeat 0 0; }
.plot-140-230-1-HL { background:url(../img/plot/vue1-plot-140-230mm-HL.jpg) no-repeat 0 0; }
.plot-140-230-2-HL { background:url(../img/plot/vue2-plot-140-230mm-HL.jpg) no-repeat 0 0; }

.size-img { width:210px; height:210px; }
.img-dalles-0 { background:url(../img/plot/dalle-0.jpg) no-repeat 0 0; }
.img-dalles-1 { background:url(../img/plot/dalle-1.jpg) no-repeat 0 0; }
.img-dalles-2 { background:url(../img/plot/dalle-2.jpg) no-repeat 0 0; }

.img-lambourdes-0 { background:url(../img/plot/lambourdes-0.jpg) no-repeat 0 0; }
.img-lambourdes-1 { background:url(../img/plot/lambourdes-1.jpg) no-repeat 0 0; }
.img-lambourdes-2 { background:url(../img/plot/lambourdes-2.jpg) no-repeat 0 0; }

.img-integrals-0 { background:url(../img/plot/integrals-0.jpg) no-repeat 0 0; }
.img-integrals-1 { background:url(../img/plot/integrals-1.jpg) no-repeat 0 0; }
.img-integrals-2 { background:url(../img/plot/integrals-2.jpg) no-repeat 0 0; }

.container-accessoire-resultat-text { padding: 13px 0 22px 10px; }
.ecarteur { background:url(../img/ecarteur.jpg) no-repeat 0 0; width:109px; height:103px; margin: 33px 0 22px 40px; }
.ecarteur-ceramique { background:url(../img/ecarteur.jpg) no-repeat 0 0; width:109px; height:103px; padding-bottom:10px; }
.plaque-a-dalle { background:url(../img/plaque-a-dalle.jpg) no-repeat 0 0; width:151px; height:112px; }

.button-percentage { width:80%; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* TUTO */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.picto-tuto { max-width:100px; height:152px; margin: 14px 0 0 0; position: absolute; }
.text-tuto-choix { margin: 32px 0 0 110px; position: absolute; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CATALOGUE */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.title-catalogue { position: relative; margin:auto; }
.title-cat-catalogue { display: block; padding: 50px 50px; }
.sub-title-cat-catalogue-haut { display: block; padding: 17px 0 47px 100px; }
.sub-title-cat-catalogue { display: block; padding: 17px 0 47px 100px; }
.sub-title-cat-catalogue-bas { display: block; padding: 17px 0 0px 100px; }
ul li { background: #FFFFFF; border-bottom: 2px solid #CCCCCC; width:100%; } 
ul li ul li{ background: #FFFFFF; border:none; } 

.inside-li { padding-left:50px; position:relative; top:-15px; }

.picto-cata-dalle { background:url(../img/picto-cata-dalle.png) repeat-x 0 0; width:65px; height:65px; display:block; }
.picto-cata-lambourde { background:url(../img/picto-cata-lambourde.png) repeat-x 0 0; width:65px; height:65px; display:block; }
.picto-cata-integral { background:url(../img/picto-cata-integral.png) repeat-x 0 0; width:65px; height:65px; display:block; }

.ombre-menu-haut { background:url(../img/ombre-menu-haut.png) repeat-x 0 0; width:100%; height:43px; }
.ombre-menu-bas { background:url(../img/ombre-menu-bas.png) repeat-x 0 0; width:100%; height:43px; }
.ombre-list-plot-bas { background:url(../img/ombre-list-plot-bas.png) repeat-x 0 0; width:100%; height:43px; }

.back-white-catalogue { width:100%; height:70px; display:block; background-color:#FFFFFF; }
.text-choix-catalogue { margin: 25px 0 0 20px; position: absolute; }
.fleche-droite-catalogue { max-width:15px; margin:20px 5px 0 0; }

/* CSS ACCORDION */
.accordion_calculatrice, .accordion_dalles, .accordion {
    color: #000000;
    position: relative;
    width: 100%;
}
.accordion_calculatrice span, .accordion_dalles span, .accordion span {
    display: none
}
.tabs_calculatrice, .tab_dalles, .tabs {
    background-color: #FFFFFF;
    overflow: hidden;
}

.tabs_calculatrice dl dd div, .tabs_dalles dl dd div, .tabs dl dd div {
    height: 0;
    overflow: hidden;
	
   /* -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	
	 -webkit-transition: translatez(0);
    -moz-transition: translatez(0);
    -o-transition: translatez(0);
    -ms-transition: translatez(0);
    transition: translatez(0);*/
}
/*****************/

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CATALOGUE */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.fiche-photo { width:31%; margin-right:10px; }
.fiche-solo-photo { margin:auto; display:block; width:70%; }

.fiche-picto-caracteristique {height:45px;}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CONTACT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.size-text-button { font-size:16px; text-transform:none; }

.picto-phone { max-width:80px; }
.picto-mail { max-width:80px; }
.back-bt-contact { background:url(../img/back-bt-contact.png) no-repeat 0 0; width:792px; height:486px;	overflow:hidden; }

.little-button { width:160px; }
.default-button { width:260px; }
.large-button { width:435px; }

.css3buttonblue {
	color: #ffffff;
	padding: 22px 0px;
	background: -moz-linear-gradient(
		top,
		#1286d3 0%,
		#1286d3 50%,
		#096fb3 50%,
		#096fb3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1286d3),
		color-stop(0.48, #1286d3),
		color-stop(0.52, #096fb3),
		to(#096fb3));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MENTION LEGALES */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-white-mention { width:100%; height:100%; display:block; background-color:#EFEFEF; padding:20px 50px 20px 20px; word-warp:true; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
