/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}
 @font-face { font-family: din-medium; src: url("../fonts/DIN-Medium.otf"); }
 @font-face { font-family: din-medium-bold; src: url("../fonts/DIN-Bold.otf"); }

body {
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	background-color:#05436B;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

a, a:link, a:active, a:visited { color:#000000; text-decoration: none; }
a:hover{ color:#000000; }
.space50 { height:50px; }
.space100 { height:100px; }
.space10 { height:10px; }
.space25 { height:25px; }
.space15 { height:15px; }
.space30 { height:30px; }
.ma { margin:auto; }
.cb { clear:both; }
.tac { text-align:center; }
.title-din-big { font-size:40px; }
.title-din { font-size:30px; }
.font-din { font-family: din-medium !important; color:#FFFFFF; }
.font-din-bold { font-family: din-medium-bold !important; color:#FFFFFF; }
.no-uppercase { text-transform:none !important; }
.fleft { float:left; }
.fright { float:right; }
.black { color:#000000 !important; }
.grey { color:#7F7F7F; }
.light-grey { color:#EFEFEF; }
.blue { color:#13A7AA !important; }
.size34 { font-size:34px; }
.size26 { font-size:26px !important; }
.size20 { font-size:20px !important; }

#back {	width:25%; }

.back {
	background:url(../img/back.jpg) repeat 0 0; height:100%px; width:100%; display:block;
}

.inset {
   -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.4);
   box-shadow: inset 0 3px 8px rgba(0,0,0,.24);
}

#content { 
	width:100%; 
  -webkit-transition:all 0.5s ease-in-out;
  -moz-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  z-index:3;}
  
  .global-container {
	overflow:hidden;
	width:100%;
	height:100%;
	display:block;
  }

/* HEADER */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-header { background:url(../img/back-header.png) repeat 0 0; height:123px; width:100%; display:block; }
.logo { background:url(../img/logo.png) no-repeat 0 0; height:51px; width:288px; display:block; text-align:center; margin:auto; }

.arrow-back { background:url(../img/arrow-back.png) no-repeat 0 0; height:30px; width: 135px; display:block; margin: 10px; }
.text-back { margin: -1px 0 0 35px; font-family: din-medium !important; color:#FFFFFF; font-size:24px; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MAIN MENU */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.home-square {
	width:50%;
	float:left;
}

#menu {
	font-family: din-medium !important;
	color:#FFFFFF;
	font-size:30px;
	margin: auto;
}

.text-menu { position: relative; text-align: center; top: 85%; }

.back-menu-container { position: relative; width: 1px; height: 1px; margin: auto; z-index:1; }
.back-menu { background:url(../img/backmenu.png) no-repeat 0 0; height:392px; width:467px; position:absolute; left: -234px; top:-30px  }

.img-menu { height:324px; width:324px; margin: auto; position: relative; z-index: 2; }
.menu0 .back-home-square { background:url(../img/menu0.png) no-repeat 0 0; }
.menu1 .back-home-square { background:url(../img/menu1.png) no-repeat 0 0; }
.menu2 .back-home-square { background:url(../img/menu2.png) no-repeat 0 0; }
.menu3 .back-home-square { background:url(../img/menu3.png) no-repeat 0 0; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* SHORT MENU */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.picto-menu-0{ background:url(../img/menu-picto-0.jpg) no-repeat 0 0; width:36px; height:35px; margin:34px 34px; }
.picto-menu-1{ background:url(../img/menu-picto-1.jpg) no-repeat 0 0; width:29px; height:43px; margin:34px 38px; }
.picto-menu-2{ background:url(../img/menu-picto-2.jpg) no-repeat 0 0; width:41px; height:40px; margin:34px 32px; }
.picto-menu-3{ background:url(../img/menu-picto-3.jpg) no-repeat 0 0; width:33px; height:38px; margin:34px 38px; }
.picto-menu-4{ background:url(../img/menu-picto-4.jpg) no-repeat 0 0; width:40px; height:39px; margin:34px; }
.picto-menu-5{ background:url(../img/menu-picto-5.jpg) no-repeat 0 0; width:41px; height:41px; margin:34px; }

.short-menu { background-color:#EFEFEF; width:500px; height:663px; position:absolute; z-index:500; right: 0; }
.container-line-short-menu { height:100px; display:block; width:100% }
.fleche-droite-short { background:url(../img/fleche-droite.png) no-repeat 0 0; width:22px; height:40px; margin:34px 30px }
.text-short-menu { margin:34px 10px }

.short-menu-icon { background:url(../img/short-menu-icon.png) no-repeat 0 0; width:46px; height:38px; margin:6px 20px  }
#black-screen{ width:100%; height:150px; background: url("../img/black-pixel.png") repeat left top transparent; position:absolute;	z-index:10; top:0; left:0; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* CALCULATRICE */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-white { width:100%; height:180px; display:block; background-color:#FFFFFF; }
.grey-line { border-top: 1px solid #CCCCCC; width:100%; z-index:2; position:relative; }
.calcul-dalle { background:url(../img/calcul-dalle.jpg) no-repeat 0 0; height:191px; width:228px; margin: 23px; position: absolute;  z-index:1; }
.calcul-lambourde { background:url(../img/calcul-lambourde.jpg) no-repeat 0 0; height:129px; width:168px; margin: 45px 40px; position: absolute; }

.text-calculatrice-choix { margin: 44px 0 0 280px; position: absolute; }
.fleche-droite { background:url(../img/fleche-droite.png) no-repeat 0 0; width:22px; height:40px; margin:64px 10px 0 0 }

.back-white-calculette { width:100%; height:100%; display:block; background-color:#FFFFFF; }
.input-calculette { width:100px; height:50px; border-radius: }
.line-calculette { height:80px; padding-top:20px; margin-left:30px; }
.text-mention { margin-top: -7px; }
.border-input { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }

.titre-calculette { position:relative; top:-10px; }

.superficie-dalle { margin-left:20px; margin-right:10px; }
.hauteur-dalle { margin-left:50px; margin-right:10px; }
.text-hauteur { margin-top: -10px; }
.mesure { margin-top: 9px; }

.bt-beton-on { background:url(../img/bt-beton-on.png) no-repeat 0 0 transparent; width:260px; height:91px; }
.bt-beton-off { background:url(../img/bt-beton-off.png) no-repeat 0 0; width:260px; height:91px; }
.bt-ceramique-on { background:url(../img/bt-ceramique-on.png) no-repeat 0 0; width:260px; height:91px; }
.bt-ceramique-off { background:url(../img/bt-ceramique-off.png) no-repeat 0 0; width:260px; height:91px; }

.dalle-taille { background:url(../img/dalle-taille.png) no-repeat 0 0; width:228px; height:171px; margin:auto; }
.cont-dalle-taille { width:33%; }

.container-bt-calculette { display: table; margin:auto; }
.back-calculette { background:url(../img/dalle.jpg) repeat 0 0; height:100%; width:100%; display:block; }

.radio-on { background:url(../img/radio-on.png) no-repeat 0 0; width:36px; height:37px; margin:auto; padding-top:-50px; position: relative; top: -40px; }
.radio-off { background:url(../img/radio-off.png) no-repeat 0 0; width:36px; height:37px; margin:auto; position: relative; top: -40px; }

.taille-dalle-text { margin: 28px 0 0 70px; position:absolute; }
.css3buttonblue-lagoon {
	color: #ffffff;
	padding: 28px 10px;
	background: -moz-linear-gradient(
		top,
		#18B1CC 0%,
		#18B1CC 50%,
		#1497AE 50%,
		#1497AE);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#18B1CC),
		color-stop(0.48, #18B1CC),
		color-stop(0.52, #1497AE),
		to(#1497AE));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

.choix-taille{ margin:0px 52px; }
.dd-selected { padding:15px !important; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* TUTO */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.nbPlotResultat {  }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* TUTO */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.picto-tuto-0 { background:url(../img/picto-tuto-0.jpg) no-repeat 0 0; width:221px; height:152px; margin: 23px; position: absolute; }
.picto-tuto-1 { background:url(../img/picto-tuto-1.jpg) no-repeat 0 0; width:161px; height:119px; margin: 33px; position: absolute;}
.picto-tuto-2 { background:url(../img/picto-tuto-2.jpg) no-repeat 0 0; width:180px; height:163px; margin: 14px 0 0 38px; position: absolute;}
.picto-tuto-3 { background:url(../img/picto-tuto-3.jpg) no-repeat 0 0; width:125px; height:96px; margin: 40px 0 0 48px; position: absolute; }

.text-tuto-choix { margin: 65px 0 0 280px; position: absolute; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */


/* CONTACT */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.size-text-button { font-size:32px; text-transform:none; }

.picto-phone { background:url(../img/picto-phone.png) no-repeat 0 0; height:117px; width:116px; }
.picto-mail { background:url(../img/picto-email.png) no-repeat 0 0; height:113px; width:129px; }
.back-bt-contact { background:url(../img/back-bt-contact.png) no-repeat 0 0; width:792px; height:486px;	overflow:hidden; }

.default-button { width:260px; }
.large-button { width:435px; }

.css3buttonblue {
	color: #ffffff;
	padding: 28px 10px;
	background: -moz-linear-gradient(
		top,
		#1286d3 0%,
		#1286d3 50%,
		#096fb3 50%,
		#096fb3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#1286d3),
		color-stop(0.48, #1286d3),
		color-stop(0.52, #096fb3),
		to(#096fb3));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 0px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow:
		0px 2px 3px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* MENTION LEGALES */
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.back-white-mention { width:100%; height:100%; display:block; background-color:#EFEFEF; padding:20px 50px 20px 20px; word-warp:true; }
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
